<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lq.cxy.shop">

    <application
        android:name=".ShopApp"
        android:allowBackup="true"
        android:icon="${ICON}"
        android:label="${APP_NAME}"
        android:roundIcon="${ICON}"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">

        <!-- uemng配置参数 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="${UMENG_APPKEY}" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${APP_NAME}" />

        <!-- 百度sdk key配置 -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="${BAIDU_APPKEY}" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <!-- alipay sdk begin -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <!-- alipay sdk end -->

        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AddressManageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AddressEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.GoodsDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FaveGoodsListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.merchant.LicenseSupply"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.LocationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.merchant.MerchantMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.merchant.MerchantGoodsDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.merchant.AddShopActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.merchant.MerchantAssessListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.merchant.MerPayAccount"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.merchant.CashToCardActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".activity.merchant.DepositManage"></activity>
    </application>

</manifest>